.dashboard-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1.75rem 4.75rem 1.75rem;
  background-color: white;
}
.dashboard-menu header {
  display: flex;
  align-items: center;
  margin-bottom: 3.0625rem;
}
.dashboard-menu .header {
  display: flex;
  align-items: baseline;
}
.dashboard-menu .header .version {
  font-weight: 500;
  font-size: 0.625rem;
  color: var(--text-gray);
}
.dashboard-menu header .logo {
  width: 2.3125rem;
  margin-right: 0.5rem;
}
.dashboard-menu footer {
  margin-top: auto;
}

.dashboard-menu .header {
  font-weight: 600;
  font-size: 1.625rem;
}

.dashboard-menu nav ul {
  display: flex;
  flex-direction: column;
}
.dashboard-menu nav li {
  display: flex;
  margin-bottom: 1.125rem;
}
.dashboard-menu nav a {
  width: 15.625rem;
  height: 2.875rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.6875rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text3);
  stroke: var(--text3);
  fill: var(--text3);

  transition: all 0.1s ease;
}
.dashboard-menu nav a:hover {
  background-color: var(--active-hover);
  color: white;
  stroke: white;
  fill: white;
}
.dashboard-menu nav a.active {
  background-color: var(--active);
  color: white;
  stroke: white;
  fill: white;
}
.dashboard-menu nav a .icon {
  margin-right: 0.875rem;
}
.dashboard-menu nav a .chevron {
  margin-left: auto;
}

.dashboard-menu .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dashboard-menu .profile .picture {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}
.dashboard-menu .profile .username {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
}
.dashboard-menu .profile .role {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-gray2);
  margin: 0;
}
