:root {
  --background: #fafbff;
  --text1: black;
  --text-gray: #838383;
  --text-gray2: #757575;
  --text3: #9197b3;

  --active: #5932ea;
  --active-hover: #5a32eaa5;

  font-family: "Poppins", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100svh;
  display: flex;
  background-color: var(--background);
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
